/* You can write your styles here 👇 */
#app {
  max-width: 100%;
}

.bx--header {
  justify-content: space-between;
}

.bx--side-nav__navigation {
  background-color: #161616;
}

a.bx--side-nav__link[aria-current="page"],
a.bx--side-nav__link--current {
  background-color: #161616;
}

a.bx--side-nav__link[aria-current="page"] .bx--side-nav__link-text,
a.bx--side-nav__link--current .bx--side-nav__link-text {
  color: #f4f4f4;
}

.ide--home-heading-container {
  display: flex;
  align-items: center;
}

.ide--home-table {
  margin-top: 4rem;
}

.IdeNavigation--altHover-link .IdeNavigation--nav-svg {
  fill: #c6c6c6;
}

.IdeNavigation--altHover-link:hover .IdeNavigation--nav-svg {
  fill: #525252;
}
